{% load bootstrap %}
{% block tytul %}Logowanie{% endblock %}

{% block strona %}
    <div class="card" style="width: 26rem;">
        <i class="fa-solid fa-hand fa-bounce fa-lg"></i>
      <div class="card-body">
        <h5 class="card-title">Zaloguj się</h5>

        <form method="post">
            {% csrf_token %}
            {{form_logowanie|bootstrap}}
            <p></p>
            <button type="submit" class="btn btn-outline-danger">Zaloguj <i class="fa-solid fa-right-to-bracket fa-spin"></i></button>
            <a href="" class="btn btn-success">Zarejestruj sie <i class="fa-solid fa-left-long"></i></a>
            <a href="" class="btn btn-dark">Wstecz <i class="fa-solid fa-left-long"></i></a>
        </form>
      </div>
    </div>
{% endblock %}